.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: $spacer * -0.5;
	margin-right: $spacer * -0.5;

	> * {
		box-sizing: border-box;
		flex-shrink: 0;
		width: 100%;
		max-width: 100%;
		padding-left: $spacer * 0.5;
		padding-right: $spacer * 0.5;
	}
}
