.card{
	position: relative;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	border: 1px solid #ccc;
	border-radius: $radius-small;
	flex: 1 1 auto;
	padding: $spacer;
	box-shadow: 0 $spacer * 0.25 $spacer * 0.5 rgba(0,0,0,.15);
}

.row .card{
	height: 100%;
}