@each $size, $font-size in $heading-sizes{
	h#{$size}, .h#{$size}{
		color: $default;
		margin: 0;
		padding: 0;
		font-family: $heading-font;
		font-size: $font-size;
		text-transform: uppercase;
	}
}

//not h1
@for $size from 2 through 6{
	h#{$size}, .h#{$size}{
		margin-bottom: $spacer;
	}
}