@include generate-utility('d', 'display', $display-types);

@include sm {
	@include generate-utility('d-sm', 'display', $display-types);
}

@include md {
	@include generate-utility('d-md', 'display', $display-types);
}

@include lg {
	@include generate-utility('d-lg', 'display', $display-types);
}

@include xl {
	@include generate-utility('d-xl', 'display', $display-types);
}

@each $name, $colour in $colours {
	.bg-#{$name}{
		background-color: $colour;
	}

	.text-#{$name}{
		color: $colour;
	}

	@each $size, $fs in $heading-sizes{
		//nested heading fix
		.text-#{$name} h#{$size}, .text-#{$name} .h#{$size}{
			color: $colour;
		}
	}
}
