//button mixins

//style button based on passed colours

@mixin button-variant(
	$background,
	$foreground: colour-contrast($background),
	$hover_bg: color.scale($background, $lightness: -30%),
	$hover_fg: $foreground
) {
	background-color: $background;
	border: solid 1px $background;
	color: $foreground;
	font-weight: $button-weight;
	padding: $spacer-half;
	margin: $spacer-half;
	border-radius: .25rem;
	cursor: pointer;
	text-align: center;
	font-size: $font-size;
	text-decoration: none;

	&:hover{
		background-color: $hover_bg;
		border-color: $hover_bg;
		color: $hover_fg
	}

	&:active{
		position: relative;
		top: 1px;
	}
}
