//variables

//colours
$black: #222 !default;
$white: #FFF !default;

$default: $black !default;
$error: #E00 !default;
$success: #060 !default;

$bg: #EBEBEB !default;

$colour-contrast-dark: $black;
$colour-contrast-light: $white;
$min-contrast-ratio: 4.5 !default;

//put in an array so we can loop over contextual stylings etc
$colours: (
    "default": $default,
    "error": $error,
    "success": $success,
    "dark": $black,
    "light": $white
);

//spacing
$spacer: 1rem;
$spacer-half: $spacer * 0.5;

//fonts
$font-size: 1rem;
$line-height: $font-size * 1.5;
$heading-font: "Asket" !default;
$body-font: "OpenSans" !default;

$heading-sizes: (
    1: $font-size * 2.6,
    2: $font-size * 2.1,
    3: $font-size * 1.85,
    4: $font-size * 1.6,
    5: $font-size * 1.35,
    6: $font-size * 1.1
);

$button-weight: 400;
